body { 
  padding-top: 50px;
}

h1 {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.navbar-default {
  background-color: #f0f0f0;
}

.jumbotron {
  background: url(../images/9di3g8owhii-jeff-sheldon_op70.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  text-align: center;
}

.font-sansita400 {
  font-family: 'Sansita', sans-serif;
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 70px;
  padding: 130px;
  text-shadow: /*0px 0px 7px rgba(0,0,0,0.8),*/
               0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.general-content {
  font-size: 16px;
  color: #727272;
}

.img-project {
  height: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: zoom-in;
}

.fade {
  opacity: 1;
}

.fade:hover {
  opacity: 0.5;
}

.center {
  text-align: center;
}


/* modal */

.modal-ct {
  font-size: 16px;
  color: #727272;
}

.image-modal {
  max-width: 100%;
  display: block;
  margin: auto;
}

.modal-size {
  width: 900px;
}

.project-link {
  color: #666756;
  margin: 0px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #727272;
}

/* footer */

.footer {
  margin-top: 70px;
  background-color: #f0f0f0;
  height: 80px;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: #727272;
  padding-left: 15px;
}

.icon:visited {
  color: #727272;
}

.icon:hover {
  color: #000000;
}
